/* **************
// ALL DEVICE STYLING
/* **************/

.App {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: all ease-in;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* **************
// DESKTOP
/* **************/

/* **************
// MOBILE
/* **************/