/* **************
// GLOBAL
/* **************/

.App {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: all ease-in;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* **************
// LAYOUT
/* **************/

.Header {
  width: 100%;
}

.Header nav {
  display: block;
  background-color: #dfe6ec;
  height: 35px;
  width: 100%;
}

.Title {
  padding-top: 10px;
}

.Title-Text {
  color: black;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 4px;
}

.Title-Text:hover {
  color: darkgray;
}

.Logo {
  color: black;
  font-size: 20px;
  float: left;
  height: 28px;
  padding: 5px 0px 5px 10px;
  width: 28px;
}

.Logo:hover {
  color: darkgray;
  font-weight: 600;
}

.Hamburger-Button {
  float: right;
}

.Footer {
  color: black;
  font-size: 15px;
  margin-top: 20px;
  padding: 2px;
  width: 100%;
}

/* **************
// HOME
/* **************/

.Home {
  width: 100%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.Slide div {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 800px;
}

/* **************
// LOGIN
/* **************/

/* **************
// LOGIN CONFIRM
/* **************/

/* **************
// REGISTER
/* **************/

/* **************
// REGISTER CONFIRM
/* **************/

/* **************
// SHOP 
/* **************/

.Shop-Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

/* **************
// CART
/* **************/

.Cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%
}

.Cart-Instructions {
  margin: 0 auto;
  padding: 0px 0px 0px 30px;
}

.Cart-Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.Cart-Empty {
  text-align: center;
}

/* **************
// PRODUCTS
/* **************/

.Product-Card {
  margin-top: 40px;
  margin-right: 48px;
  margin-left: 46px;
  text-align: left;
}

.Product-Image {
  transition: 1s ease;
  transform-style: preserve-3d;
}

.Product-Image:hover {
  transform: rotateY(180deg);
}

.Product-Front, .Product-Back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Product-Front {
  position: absolute;
}

.Product-Back {
  transform: rotateY(180deg);
}

.Product-Name {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0;
}

.Product-Price {
  color: #6d7174;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 5px 0px 5px 0px;
}