@media screen and (max-width: 640px) {
  
  .Title {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .Title-Text {
    font-size: 28px;
  }

  .Hamburger-Dropdown-In {
    font-size: 12px;
    right: 5px;
  }
  
  .Hamburger-Dropdown-In li {
    padding: 2px;
  }
  
  .Hamburger-Dropdown-In a {
    color: #54b02b;
    font-weight: 600;
  }
  
  .Hamburger-Dropdown-Out {
    font-size: 12px;
    right: 5px;
  }
  
  .Hamburger-Dropdown-Out li {
    padding: 2px;
  }
  
  .Hamburger-Dropdown-Out a {
    color: #54b02b;
    font-weight: 600;
  }
  
  .Logged-In button {
    color: #54b02b;
    font-weight: 600;
  }
  
  .Footer {
    font-size: 12px;
    margin-top: 5px;
    padding: 2px;
  }
  
  .Slide div {
    background-position: center;
    height: 600px;
  }

  .Login {
    background-position: center;
    height: 600px;
  }
  
  .Login h1 {
    font-size: 24px;
  }
  
  .Login h3 {
    font-size: 18px;
    padding-bottom: 2px;
  }
  
  .Login-Form {
    top: 50%;
    left: 50%;
    height: 400px;
    width: 500px;
  }
  
  .Username, .Password {
    font-size: 16px;
    padding: 20px 0px 5px 0px;
  }
  
  .Login input {
    height: 20px;
    width: 180px;
  }
  
  .Register {
    background-position: center;
    height: 600px;
  }
  
  .Register h1 {
    font-size: 24px;
  }
  
  .Register h3 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 2px;
  }
  
  .Register-Form {
    top: 50%;
    left: 50%;
    height: 400px;
    width: 500px;
  }
  
  .Email {
    font-size: 16px;
    padding: 20px 0px 5px 0px;
  }
  
  .Register input {
    height: 20px;
    width: 210px;
  }
  
  .Register p {
    font-size: 14px;
    margin: 0 
  }
  
  .Shop-Products {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .Cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .Cart-Instructions {
    padding: 10px;
    width: 100%;
  }

  .Cart-Instructions h1, .Cart-Empty h1 {
    font-size: 22px;
  }
  
  .Cart-Instructions img {
    width: 300px;
    height: 200px;
    text-align: left;
  }

  .Cart-Box {
    width: 100%;
  }

  .Cart-Empty {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1050px) {
  
  .Cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .Cart-Instructions {
    padding: 10px;
    width: 100%;
  }

  .Cart-Instructions h1, .Cart-Empty h1 {
    font-size: 24px;
  }

  .Cart-Box {
    width: 100%;
  }

  .Cart-Empty {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}